.max_current_upper,.min_current_upper{
	display: flex;
}
.max_current_upper .max_current_type,.max_current_upper .max_current_days{
	width: auto !important;
}
.min_current_upper .min_current_type,.min_current_upper .min_current_days{
	width: auto !important;
}